<header class="site-header">

  <div class="wrapper">

    <a class="site_home" href="{{ site.baseurl }}/">
      <img class= "logo" src="/static_files/logo5.png"></img>
    </a>

    <!-- <nav class="site-nav">
      <div class="trigger">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav> -->

  </div>
</header>
